# .NET
bin/
obj/
*.user
*.suo
*.userprefs
.DS_Store

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# MAUI specific
**/maccatalyst-*/
**/android-*/
**/ios-*/
